@model IDK.Models.ApplicationUser

@{
    ViewBag.Title = "Details";
}

<h2>@ViewBag.Title</h2>

<div class="panel-heading">Username: @Model.UserName</div>

<div class="panel-body">

    <i class="glyphicon glyphicon-envelope"></i> Email: <span class="label label-default">@Model.Email</span>
    <br />
    <i class="glyphicon glyphicon-th-list"></i> Role: @ViewBag.roleName

    <br /><br />

    @if (@Model.PhoneNumber != null)
    {
        <i class="glyphicon glyphicon-phone"></i>@:Phone number:<span class="label label-default">@Model.PhoneNumber</span>
    }

</div>

@if ((string)Model.Id != ViewBag.currentUser)
{
    <div class="panel-footer">
        @using (Html.BeginForm(actionName: "Delete", controllerName: "Users", routeValues: new { id = @Model.Id }))
        {
            @Html.HttpMethodOverride(HttpVerbs.Delete)
            <br />
            <button class="btn btn-success" type="submit">Delete user</button>

        }
    </div>
}

