@model IDK.Models.Question

<h2>Ask something</h2>

@using (Html.BeginForm(actionName: "New", controllerName: "Questions"))
{
    @Html.Label("Title", "What's the title");
    <br />
    @Html.TextBox("Title", null, new { @class = "form-control" })
    @Html.ValidationMessage("Title", null, new { @class = "text-danger" })
    <br />
    <br />
    @Html.Label("Content", "Describe your question")
    <br />
    @Html.TextArea("Content", null, new { @class = "form-control summernote" })
    @Html.ValidationMessage("Content", null, new { @class = "text-danger" })
    <br />
    <br />
    @Html.Label("SelectedTags", "Select some tags")
    @Html.ListBox("SelectedTags", new SelectList(Model.Tg, "Value", "Text"), new { @class = "form-control" })
    @Html.ValidationMessage("SelectedTags", null, new { @class = "text-danger" })
    <br />
    <br />
    <button class="btn btn-success" type="submit">Add</button>
}

