<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/Site.css")
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("IDK", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav" style="display:flex; align-items:center">
                    <li>@Html.ActionLink("Ask", "New", "Questions")</li>

                    @if (User.IsInRole("Admin"))
                    {
                        <li>@Html.ActionLink("Tags", "Index", "Tags")</li>
                        <li>@Html.ActionLink("Users", "Index", "Users")</li>
                    }
                    @* search bar*@

                    @using (Html.BeginForm("Search", "Questions", FormMethod.Get))
                    {
                        <input id="SearchString" name="SearchString" type="text" value="" placeholder="Search...">
                        @*Html.TextBox("SearchString")*@
                        @*<input type="submit" value="Search" />*@
                        <button class="btn btn-success" type="submit">Search</button>

                    }

                    @* search bar *@
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - IDK</p>
            </script>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>
    @Scripts.Render("~/Scripts/Summernote.js")
</body>
</html>
