<div class="panel-heading" style="font-weight:bold">@Model.Title</div>
<div class="panel-body">
    @Html.Raw(Model.Content)
    <br />
    <span class="label label-success">@Model.Date</span>
    <br /><br />
    @foreach (var tag in Model.Tags)
    {
        <i class="glyphicon glyphicon-tag"></i> @tag.TagName
    }
    <hr />
    <i class="glyphicon glyphicon-user"></i> <i>Asked by</i>
    <strong> @Model.User.Name </strong>
</div>

