
@{
    ViewBag.Title = "Here are our approved Tags";
}
<h3 style="color: darkblue">@ViewBag.Message</h3>
<h2>@ViewBag.Title</h2>
<br />
@foreach (var tag in ViewBag.Tags)
{
    @Html.Label("TagName", "Tag Name")
    <p>@tag.TagName</p>
    @Html.Label("Description", "Description")
    @Html.Raw(tag.Description)
    <br />
    <a class="btn btn-success" href="/Tags/Show/@tag.Id">Show</a>
    <a class="btn btn-success" href="/Tags/Edit/@tag.Id">Edit</a>
    <br />
    <hr />
    <br />

}
<br />
<a class="btn btn-primary" href="/Tags/New">Add tag</a>

