@model IDK.Models.Question
<br />
<h3 style="color: darkblue">@ViewBag.Message</h3>
<br />
<div class="panel panel-default">
    @Html.Partial("QuestionShow", Model) @*includem view ul partial care afiseaza cate o intrebare*@
    @if (ViewBag.modOrAdmin || ViewBag.currentUser == Model.UserId)
    {
        <div class="panel-footer">
            <a class="btn btn-success pull-left" href="/Questions/Edit/@Model.Id">Edit</a>
            @*facem un form pt delete question*@
            @using (Html.BeginForm(actionName: "Delete", controllerName: "Questions", method: FormMethod.Post, routeValues: new { id = @Model.Id }))
            {
                @Html.HttpMethodOverride(HttpVerbs.Delete)
                <button class="btn btn-danger pull-right" type="submit">Delete</button>
            }
            <div class="clearfix"></div>
        </div>
    }
</div>

<br />
@*parcurgem toate answer urile*@
@foreach (var ans in Model.Answers)
{
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div>
                    @Html.Raw(ans.Content)
                    <br /><br />
                    <small class="pull-right">@ans.Date</small>
                    <i class="glyphicon glyphicon-user"></i> <i>from</i> <strong> @ans.User.Name </strong>
                </div>
                @if (ViewBag.modOrAdmin || ViewBag.currentUser == ans.UserId)
                {
                    <div style="display: inline-block; float : left; margin-right: 15px">
                        <a class="glyphicon glyphicon-pencil" href="/Answers/Edit/@ans.Id"></a> @*link catre metoda de edit*@
                    </div>
                    <div style="display: inline-block; float : left">
                        <form method="post" action="/Answers/Delete/@ans.Id">
                            @*form pt delete answer*@
                            @Html.HttpMethodOverride(HttpVerbs.Delete)
                            <button class="glyphicon glyphicon-trash" style="border: none; background: transparent" type="submit"></button>
                        </form>
                    </div>
                }
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
    <hr />
}


<div class="container">
    <div class="row">
        <div>
            <div class="panel">
                @*form pt adaugarea unui nou answer*@
                <form method="post" action="/Questions/Show/@Model.Id">
                    <div class="panel-body">
                        <input type="hidden" name="QuestionId" value="@Model.Id" />
                        <label>Your answer</label>
                        <br />
                        <textarea class="form-control summernote" name="Content" values="@Model.Content"></textarea>
                        @Html.ValidationMessage("Content", null, new { @class = "text-danger" })
                        <br />
                        <button class="btn btn-success " type="submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>