<h3 style="color: darkblue">@ViewBag.Message</h3>
<h2>Popular tags</h2>
<br />
@foreach (var tag in ViewBag.Tags)
{
    @Html.Label("TagName", "")
    <p>@tag.TagName</p>
    @Html.Label("Description", "")
    @Html.Raw(tag.Description)
    <br />
    <a class="btn btn-success" href="/Questions/ShowByCategory/@tag.Id">Questions</a>
    <br />
    <hr />
    <br />

}