@model IDK.Models.ApplicationUser

@{
    ViewBag.Title = "Edit role";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm(actionName: "Edit", controllerName: "Users", routeValues: new { id = @Model.Id }))
{
    @Html.HttpMethodOverride(HttpVerbs.Put)

    <br />

    <i class="glyphicon glyphicon-user"></i>
    @Html.Label("UserName", "Username", new { @class = "" })

    <br />

    @Html.EditorFor(m => m.UserName)

    <br />
    <br />

    <i class="glyphicon glyphicon-envelope"></i>
    @Html.Label("Email", "Email", new { @class = "" })

    <br />

    @Html.EditorFor(m => m.Email)

    <br />
    <br />

    <i class="glyphicon glyphicon-phone"></i>
    @Html.Label("PhoneNumber", "Phone number")

    <br />

    @Html.EditorFor(m => m.PhoneNumber)

    <br />
    <br />

    <i class="glyphicon glyphicon-th-list"></i>
    <label>Select role</label>
    @Html.DropDownList("newRole", new SelectList(Model.AllRoles, "Value", "Text", ViewBag.userRole), null, new { @class = "form-control" })

    <br />

    <button class="btn btn-sm btn-success" type="submit">Modify</button>

}

